@import "https://fonts.googleapis.com/css?family=Roboto";
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 30, ../sass/styles.scss */
body {
  /* Rectangle: */
  font-family: "Roboto", 'sans-serif';
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  margin: 0;
  min-height: 2500px;
}

@media (max-width: 360px) {
  /* line 45, ../sass/styles.scss */
  section {
    width: 100%;
  }
}

/* line 52, ../sass/styles.scss */
.input {
  margin-right: 10px;
}

/* line 57, ../sass/styles.scss */
.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-grid-row-align: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 95, ../sass/styles.scss */
.btn-primary {
  background-color: #00CE5D;
}

/* line 98, ../sass/styles.scss */
.btn-warning {
  background-color: #f4511e;
}

/* line 102, ../sass/styles.scss */
.btn-redondo {
  z-index: 20;
  line-height: 56px;
  min-width: 0;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-transition-property: background-color,box-shadow,-webkit-transform;
  transition-property: background-color,box-shadow,-webkit-transform;
  transition-property: background-color,box-shadow,transform;
  transition-property: background-color,box-shadow,transform,-webkit-transform;
}

/* line 121, ../sass/styles.scss */
form {
  font-family: "Roboto", 'sans-serif';
  background: #293333;
  border-radius: 5px;
  min-height: 200px;
  color: white;
  width: 475px;
  padding: 10px;
  /* Rectangle 3 Copy 29: */
}
/* line 131, ../sass/styles.scss */
form h3 {
  font-family: "Roboto", 'sans-serif';
  padding: 0px;
  color: white;
  font-weight: lighter;
}
@media (max-width: 360px) {
  /* line 121, ../sass/styles.scss */
  form {
    width: 100%;
    padding: 0 !important;
  }
}

/* line 147, ../sass/styles.scss */
.lbl {
  font-family: "Roboto", 'sans-serif';
  position: relative;
  display: block;
  height: 20px;
  width: 35px;
  margin: 10px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all .3s ease;
}
/* line 158, ../sass/styles.scss */
.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all .3s ease;
}
/* line 170, ../sass/styles.scss */
.lbl:after:active, .lbl:after:after {
  transform: scale(1.15, 0.85);
}

/* line 177, ../sass/styles.scss */
.cbx:checked ~ label {
  background: forestgreen;
}
/* line 179, ../sass/styles.scss */
.cbx:checked ~ label:after {
  left: 20px;
  background: #00CE5D;
}
/* line 182, ../sass/styles.scss */
.cbx:checked ~ label:after .cbx:disabled ~ label {
  background: #D5D5D5;
  pointer-events: none;
}
/* line 185, ../sass/styles.scss */
.cbx:checked ~ label:after .cbx:disabled ~ label:after {
  background: #BCBDBC;
}

/* line 192, ../sass/styles.scss */
.cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 198, ../sass/styles.scss */
.press {
  margin-bottom: 40px;
}

/* line 202, ../sass/styles.scss */
.hidden {
  display: none;
}

/*
$duration: 200ms;
$easing: ease-out;
$red: #FF373D;
$green: #00CE5D;

@import "https://fonts.googleapis.com/css?family=Roboto:300";



label {
  display:inline-block;
  position:relative;
  width:30px;
  height:30px;
  margin: 10px;
  padding: 5px;
  border-radius:50%;
  background:$red;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
  transition:all $duration $easing;
  cursor:pointer;
}

.inner {
  @extend .align-middle;
  width:100%;
  height:100%;
  display:block;
  border-radius:50%;
  transform:scale(0.6);
  transition:all $duration $easing 100ms;
}

.icon {
  display:block;
  width:20px;
  height:3px;
  @extend .align-middle;
}

.icon:before {
  content:'';
  position:absolute;
  top:0;
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  transform:rotate(45deg);
  border-radius:3px;
  transition:all $duration $easing;
}

.icon:after {
  content:'';
  position:absolute;
  top:0;
  right:0;
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  transform:rotate(-45deg);
  border-radius:3px;
  transition:all $duration $easing;
}

// effect one

input.effect-one:checked + label .icon:after {
  right:-5px;
}

input.effect-one:checked + label .icon:before {
  width:11px;
  top:4px;
}

// effect two

input.effect-two:checked + label .icon:after {
  width:11px;
  top:4px;
  right:9px;
  transform: rotate(45deg);
}

input.effect-two:checked + label .icon:before {
  transform: rotate(-45deg);
  right:-5px;
}

// "ripple"

input:checked + label .inner {
  background:$green;
  transform:scale(1);
}
*/
/* line 311, ../sass/styles.scss */
h1 {
  margin-bottom: 20px;
  color: #293333;
  font-family: "Roboto", 'sans-serif';
  font-weight: bolder;
  font-size: 24px;
  margin-top: 30px;
}

/* line 320, ../sass/styles.scss */
small {
  display: block;
  font-size: 60%;
  margin-top: 5px;
  color: #8c8c8c;
}

/* line 327, ../sass/styles.scss */
.spacer {
  margin: 0 10px;
}

/* line 331, ../sass/styles.scss */
.align-middle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

/* line 342, ../sass/styles.scss */
h2 {
  font-family: "Roboto", 'sans-serif';
  /* Rectangle 3 Copy 31: */
  background: #79996D;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
  padding: 10px;
  margin-bottom: 10px;
}

/* ==========  Select Field Variables ========== */
/* ==========  Select Field ========== */
/* Style Select Field */
/* line 368, ../sass/styles.scss */
select {
  font-family: "Roboto", 'sans-serif';
  font-weight: bold;
  width: 232px;
  padding: 4px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
  height: 39px;
  /* Rectangle 2 Copy 3: */
  background: #D8D8D8;
  border: 1px solid #979797;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

/* Remove focus */
/* line 385, ../sass/styles.scss */
select:focus {
  outline: none;
}

/* Hide label */
/* line 389, ../sass/styles.scss */
.mdl-selectfield label {
  display: none;
}

/* Use custom arrow */
/* line 391, ../sass/styles.scss */
.mdl-selectfield select {
  appearance: none;
}

/* line 392, ../sass/styles.scss */
.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
  margin-right: 10px;
}
/* line 396, ../sass/styles.scss */
.mdl-selectfield:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid rgba(0,0,0, 0.12);
  pointer-events: none;
}

/* line 417, ../sass/styles.scss */
a {
  color: black;
}

/* line 421, ../sass/styles.scss */
.botones,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="time"],
textarea {
  color: black;
  outline: none;
  font-family: "Roboto", 'sans-serif';
  /* Rectangle 2 Copy 5: */
  background: #D8D8D8;
  border: 1px solid #979797;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 210px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 10px;
}

/* line 446, ../sass/styles.scss */
textarea {
  width: 95%;
  margin-top: 10px;
  min-height: 70px;
  padding-top: 10px;
}

/* line 453, ../sass/styles.scss */
::-webkit-input-placeholder {
  /* Usuario: */
  font-family: "Roboto", 'sans-serif';
  font-size: 15px;
  color: black;
  opacity: .5;
}

/* line 463, ../sass/styles.scss */
.botones:focus, input:focus, textarea:focus {
  background-color: #536363;
  color: white;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* line 474, ../sass/styles.scss */
table {
  border-spacing: 0px;
  font-family: "Roboto", 'sans-serif';
  text-align: center;
  width: 100%;
}
/* line 480, ../sass/styles.scss */
table th {
  border-style: none;
  font-size: 12px;
  padding: 10px;
  background-color: #293333;
  color: white;
  font-weight: bold;
  max-width: 160px;
}
/* line 490, ../sass/styles.scss */
table td {
  padding: 10px;
  border-spacing: 1px;
}
/* line 495, ../sass/styles.scss */
table tr {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #79996D;
  color: white;
  font-weight: lighter;
  max-width: 160px;
}
/* line 507, ../sass/styles.scss */
table tr:hover {
  background-color: #536363 !important;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
@media (min-width: 361px) {
  /* line 518, ../sass/styles.scss */
  table th {
    font-size: 16px;
  }
  /* line 521, ../sass/styles.scss */
  table tr {
    font-size: 14px;
  }
}

/* line 530, ../sass/styles.scss */
.table-td {
  background: #536363;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 541, ../sass/styles.scss */
.paginacion-primera, .paginacion-sig, .paginacion-ultima, .paginacion-ant {
  width: 26px;
  height: 24px;
  border-style: none;
  background: url("../images/paginacion-primera.svg") no-repeat scroll 0 0 transparent;
}

/* line 548, ../sass/styles.scss */
.paginacion-sig {
  background: url("../images/paginacion-sig.svg") no-repeat scroll 0 0 transparent;
}

/* line 553, ../sass/styles.scss */
.paginacion-ultima {
  background: url("../images/paginacion-ultima.svg") no-repeat scroll 0 0 transparent;
}

/* line 558, ../sass/styles.scss */
.paginacion-ant {
  background: url("../images/paginacion-ant.svg") no-repeat scroll 0 0 transparent;
}

/* line 564, ../sass/styles.scss */
h3 {
  font-family: "Roboto", 'sans-serif';
}

/* line 570, ../sass/styles.scss */
.boton-agregar, .boton-cancelar, .boton-ok, .boton-eliminar {
  position: relative;
  height: 32px;
  width: 32px;
  flex: 0 0 56px;
  display: inline-block;
  padding: 0;
  margin: 4px;
  border: 0;
  border-radius: 100%;
  overflow: hidden;
  font-size: 16px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 589, ../sass/styles.scss */
.boton-cancelar {
  background-color: #ED7161 !important;
}

/* line 594, ../sass/styles.scss */
.boton-agregar {
  background-color: #293333;
}

/* line 599, ../sass/styles.scss */
.boton-ok {
  background-color: #00CE5D;
}

/* line 604, ../sass/styles.scss */
.boton-eliminar {
  background-color: sandybrown;
}

/* line 610, ../sass/styles.scss */
.fa {
  color: white;
}

/* line 614, ../sass/styles.scss */
.boton-agregar:hover, .boton-cancelar:hover, .boton-ok:hover, .boton-eliminar:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer !important;
  background-color: #79996D !important;
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari */
  transform: scale(1.2, 1.2);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 628, ../sass/styles.scss */
.mv-col {
  display: flex;
  flex-direction: row;
}
@media (max-width: 360px) {
  /* line 628, ../sass/styles.scss */
  .mv-col {
    flex-direction: column;
  }
}

/* line 636, ../sass/styles.scss */
.mv-col-6 {
  width: 50%;
  padding: 0 15px;
}

/* line 640, ../sass/styles.scss */
.mv-col-12 {
  width: 100%;
}

/* line 644, ../sass/styles.scss */
.container {
  width: 60%;
  margin: 0 auto;
}

/* line 649, ../sass/styles.scss */
.primary {
  background-color: #00CE5D;
}

/* line 652, ../sass/styles.scss */
.form-footer {
  background-color: #79996D;
  width: 451px;
}

/* line 656, ../sass/styles.scss */
.terciary {
  background-color: darkviolet;
}

/* line 659, ../sass/styles.scss */
.input-paginacion, .input-paginacion2 {
  width: 50px !important;
  text-align: center;
  margin: 5px;
  height: 20px !important;
}

/* line 666, ../sass/styles.scss */
.input-paginacion2 {
  height: 20px !important;
}

/* line 670, ../sass/styles.scss */
.panel-primary {
  border-color: #79996D;
}

/* line 673, ../sass/styles.scss */
.panel {
  margin-bottom: 20px;
  border: 1px solid #79996D;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 500px;
}
@media (max-width: 360px) {
  /* line 673, ../sass/styles.scss */
  .panel {
    width: 100%;
  }
}

/* line 684, ../sass/styles.scss */
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #79996D;
  border-color: #79996D;
}

/* line 689, ../sass/styles.scss */
.panel-group .panel-heading {
  border-bottom: 0;
}

/* line 692, ../sass/styles.scss */
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 698, ../sass/styles.scss */
.panel-body {
  padding: 15px;
  max-height: 230px;
  overflow-y: auto;
}

/* line 704, ../sass/styles.scss */
input.buscador {
  width: 99% !important;
  background: url(images/lupa.svg) no-repeat scroll 0px 0px;
  padding-left: 40px;
}

/* line 710, ../sass/styles.scss */
.titulo-imagen {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

/* line 716, ../sass/styles.scss */
.input-foto {
  margin: 10px;
  display: flex;
  text-align: center;
}

/* line 724, ../sass/styles.scss */
.input-foto img {
  margin-right: 5px;
  border-radius: 50%;
}

/* line 730, ../sass/styles.scss */
.foto {
  text-align: center;
  max-width: 102px;
}

/* line 734, ../sass/styles.scss */
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
/* line 743, ../sass/styles.scss */
.wrapper .file-upload {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #FFFFFF;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #79996d 50%, #ffffff 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFFFFF;
  font-size: 12px;
}
/* line 762, ../sass/styles.scss */
.wrapper .file-upload input[type='file'] {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
/* line 773, ../sass/styles.scss */
.wrapper .file-upload:hover {
  background-position: 0 -100%;
  color: #79996D;
}

/* line 780, ../sass/styles.scss */
.error-message {
  display: none;
}

/* line 784, ../sass/styles.scss */
.error-input {
  background: #fff url("http://www.wallplayer.tv/images/wallplayer_en/icon_error_white.gif") no-repeat 97% center;
  border-color: red;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 10px rgba(255, 0, 0, 0.2);
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}
@-o-keyframes shake {
  0%, 100% {
    -o-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
/* line 836, ../sass/styles.scss */
.ac-error-message {
  padding: 30px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: white;
  line-height: 26px;
  width: 300px;
  background-image: url("http://i.imgur.com/GnyDvKN.png");
  background-repeat: no-repeat;
  height: 50px !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
  background: #f85032;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* line 861, ../sass/styles.scss */
.ac-success-message {
  text-align: center;
  padding: 30px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  line-height: 26px;
  width: 300px;
  height: 50px !important;
  background-image: url("http://i.imgur.com/GnyDvKN.png");
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
  background: #bfd255;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* line 885, ../sass/styles.scss */
.error-message {
  position: absolute;
  top: 16px !important;
  left: -1px !important;
  background-color: #a90329;
  text-align: center;
  color: white;
  width: 400px;
  height: 200px;
  margin-left: 26px;
  font-size: 14px;
  padding: 30px;
  -webkit-border-radius: 2px;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in-out 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

/* line 917, ../sass/styles.scss */
button:focus {
  outline-style: none !important;
}

/* line 919, ../sass/styles.scss */
.row-warning {
  background-color: yellow;
  color: black;
}

/* line 926, ../sass/styles.scss */
.header {
  font-family: 'Merriweather', serif;
  font-weight: bolder;
  color: white !important;
  width: 100%;
  height: 50px;
  background-color: #505050;
  position: fixed;
  top: 50px;
  z-index: 1000;
}
@media (min-width: 800px) {
  /* line 926, ../sass/styles.scss */
  .header {
    display: flex;
    height: 50px;
    -webkit-box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
  }
}

/* line 946, ../sass/styles.scss */
.menu-icon {
  width: 45px;
  height: 45px;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8));
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 955, ../sass/styles.scss */
.menu-icon:hover, .menu-icon2:hover {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
  cursor: pointer;
}

/* line 961, ../sass/styles.scss */
.menu-icon2 {
  width: 39px;
  height: 90px;
  position: relative;
  margin-top: -30px;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8));
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 972, ../sass/styles.scss */
.login-panel-form .botonera {
  margin-bottom: 10px !important;
}

/* line 975, ../sass/styles.scss */
.botonera {
  text-align: center;
}

/* line 979, ../sass/styles.scss */
.nav-button {
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  transform-origin: 13px 13px;
  transform-style: preserve-3D;
}
/* line 991, ../sass/styles.scss */
.nav-button div {
  cursor: pointer;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background-color: white;
  margin: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 1005, ../sass/styles.scss */
.nav-button .nav-button-top-transformed {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 1012, ../sass/styles.scss */
.nav-button .nav-button-mid-transformed {
  -webkit-transform: translate(-3px, 0px);
  -moz-transform: translate(-3px, 0px);
  -ms-transform: translate(-3px, 0px);
  -o-transform: translate(-3px, 0px);
  transform: translate(-3px, 0px);
}
/* line 1019, ../sass/styles.scss */
.nav-button .nav-button-bot-transformed {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 1055, ../sass/styles.scss */
.menu-mobile {
  display: flex;
  height: 100%;
  z-index: 100;
}
/* line 1060, ../sass/styles.scss */
.menu-mobile .header-separator {
  height: 40px;
  margin-top: 5px;
  width: 2px;
  margin-left: 40px;
  background-color: white;
}
/* line 1068, ../sass/styles.scss */
.menu-mobile .logo {
  flex: 5;
  padding: 5px;
  margin-right: 15px;
  text-align: right;
  margin-top: 6px;
}

/* line 1077, ../sass/styles.scss */
.menu-mobile-panel {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  background: #a4a9b5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a4a9b5 0%, #828c95 36%, #28343b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a4a9b5 0%, #828c95 36%, #28343b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a4a9b5 0%, #828c95 36%, #28343b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4a9b5', endColorstr='#28343b',GradientType=0 );
  /* IE6-9 */
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  top: 50px;
  z-index: 500;
  height: 100%;
  text-align: center;
  padding-top: 24px;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);
}
/* line 1104, ../sass/styles.scss */
.menu-mobile-panel a {
  text-decoration: none;
}
/* line 1108, ../sass/styles.scss */
.menu-mobile-panel .menu-desktop-btn {
  margin-top: 15px;
  margin-left: 15px;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  line-height: 16px;
  font-size: 18px;
  padding: 5px;
  font-variant: all-petite-caps;
  color: white;
}
@media (max-width: 800px) {
  /* line 1108, ../sass/styles.scss */
  .menu-mobile-panel .menu-desktop-btn {
    font-size: 24px;
  }
}
@media (min-width: 800px) {
  /* line 1077, ../sass/styles.scss */
  .menu-mobile-panel {
    visibility: collapse;
    display: none;
  }
}

/* line 1136, ../sass/styles.scss */
.menu-mobile-panel-show {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

/* line 1144, ../sass/styles.scss */
.menu-mobile-panel-show-add {
  -webkit-animation: menu-mobile-enter 0.4s;
  -o-animation: menu-mobile-enter 0.4s;
  animation: menu-mobile-enter 0.4s;
}

/* line 1150, ../sass/styles.scss */
.menu-mobile-panel-show-remove {
  -webkit-animation: menu-mobile-leave 0.4s;
  -o-animation: menu-mobile-leave 0.4s;
  animation: menu-mobile-leave 0.4s;
}

@keyframes menu-mobile-enter {
  0% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@keyframes menu-mobile-leave {
  0% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
}
/* line 1192, ../sass/styles.scss */
.menu-type-desktop {
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}
@media (max-width: 799px) {
  /* line 1192, ../sass/styles.scss */
  .menu-type-desktop {
    visibility: collapse;
    display: none !important;
  }
}

@media (min-width: 800px) {
  /* line 1205, ../sass/styles.scss */
  .menu-type-mobile {
    visibility: collapse;
    display: none !important;
  }
}

@media (min-width: 800px) {
  /* line 1212, ../sass/styles.scss */
  .header-as-main {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-align: justify;
  }
  /* line 1223, ../sass/styles.scss */
  .header-as-main #menu-desktop-logo {
    -webkit-transform: scale(5, 5);
    -moz-transform: scale(5, 5);
    -ms-transform: scale(5, 5);
    -o-transform: scale(5, 5);
    transform: scale(5, 5);
    pointer-events: none;
  }
}

/* line 1236, ../sass/styles.scss */
#menu-mobile-logo {
  opacity: 0;
  margin-bottom: 30px;
  -webkit-animation: fadeIn ease-in-out 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
}

@keyframes latido {
  0% {
    -webkit-transform: scale(5, 5);
    -moz-transform: scale(5, 5);
    -ms-transform: scale(5, 5);
    -o-transform: scale(5, 5);
    transform: scale(5, 5);
  }
  75% {
    -webkit-transform: scale(5.2, 5.2);
    -moz-transform: scale(5.2, 5.2);
    -ms-transform: scale(5.2, 5.2);
    -o-transform: scale(5.2, 5.2);
    transform: scale(5.2, 5.2);
  }
  100% {
    -webkit-transform: scale(5, 5);
    -moz-transform: scale(5, 5);
    -ms-transform: scale(5, 5);
    -o-transform: scale(5, 5);
    transform: scale(5, 5);
  }
}
/* line 1276, ../sass/styles.scss */
.menu-desktop {
  display: flex;
  width: 100%;
  height: 50px;
}
/* line 1286, ../sass/styles.scss */
.menu-desktop #menu-desktop-logo {
  background-color: transparent;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  z-index: 401;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}
/* line 1310, ../sass/styles.scss */
.menu-desktop #menu-desktop-logo:hover {
  cursor: pointer;
}
/* line 1314, ../sass/styles.scss */
.menu-desktop #menu-desktop-right {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  width: 60%;
  align-items: center;
}
/* line 1321, ../sass/styles.scss */
.menu-desktop #menu-desktop-right .sub-menu {
  font-family: "Roboto", 'sans-serif';
  font-size: 14px;
}
/* line 1325, ../sass/styles.scss */
.menu-desktop #menu-desktop-right .sub-menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}
/* line 1330, ../sass/styles.scss */
.menu-desktop #menu-desktop-right .sub-menu a:hover {
  color: #79996D !important;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 1343, ../sass/styles.scss */
.menu-desktop #menu-desktop-left {
    /*
    #menu-desktop-upper {

      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      flex: 0;
    }*/
}
/* line 1356, ../sass/styles.scss */
.menu-desktop #menu-desktop-left #menu-desktop-lower {
  background-color: transparent;
  max-width: 100%;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
/* line 1366, ../sass/styles.scss */
.menu-desktop #menu-desktop-left #menu-desktop-lower #menu-desktop-lower-inner {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
/* line 1373, ../sass/styles.scss */
.menu-desktop #menu-desktop-left #menu-desktop-lower .menu-desktop-btn {
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 10px;
  position: relative;
  font-size: 12px;
  opacity: 0;
  -webkit-animation: fadeIn ease-in-out 2;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in-out 2;
  animation: fadeIn ease-in-out 2;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}
/* line 1396, ../sass/styles.scss */
.menu-desktop #menu-desktop-left #menu-desktop-lower .menu-desktop-btn-selected {
  color: bolder;
  opacity: 1;
}
/* line 1400, ../sass/styles.scss */
.menu-desktop #menu-desktop-left #menu-desktop-lower .menu-desktop-btn:hover,
.menu-desktop #menu-desktop-left #menu-desktop-lower .menu-desktop-btn:focus,
.menu-desktop #menu-desktop-left #menu-desktop-lower .menu-desktop-btn:active {
  cursor: pointer;
  color: #EF037C;
  opacity: 1;
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -ms-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

/* line 1418, ../sass/styles.scss */
.login {
  font-family: 'Merriweather', serif;
  font-weight: bolder;
  color: white !important;
  width: 100%;
  height: 50px;
  background-color: #eee;
  position: fixed;
  top: 0px;
  z-index: 1000;
}

/* line 1432, ../sass/styles.scss */
.form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 700px;
  max-height: 1300px;
}

/* line 1439, ../sass/styles.scss */
.form-lista {
  width: 77%;
  margin: 0 10px;
}

/* line 1443, ../sass/styles.scss */
.form-abm {
  display: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* line 1452, ../sass/styles.scss */
.form-open {
  display: inline;
  width: 474px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* line 1464, ../sass/styles.scss */
ol, ul {
  list-style: none;
}

/* line 1468, ../sass/styles.scss */
.list {
  margin: .5rem;
}

/* line 1472, ../sass/styles.scss */
.list__item {
  margin: 0 0 .5rem 0;
  padding: 0;
}

/* line 1477, ../sass/styles.scss */
.label--checkbox,
.label--radio {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

/* line 1486, ../sass/styles.scss */
.checkbox {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
/* line 1491, ../sass/styles.scss */
.checkbox:before {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 0.85rem;
  height: 0.85rem;
  border: 2px solid #f2f2f2;
}
/* line 1505, ../sass/styles.scss */
.checkbox:checked:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
/* line 1514, ../sass/styles.scss */
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

/* line 1526, ../sass/styles.scss */
.radio {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
/* line 1530, ../sass/styles.scss */
.radio:before {
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -o-transition: -o-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 0;
  left: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.75rem;
  background: #16a085;
  border-radius: 50%;
}
/* line 1545, ../sass/styles.scss */
.radio:checked:before {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 1550, ../sass/styles.scss */
.radio:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.125rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
}

/* line 1563, ../sass/styles.scss */
.button--round {
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  width: 2rem;
  height: 2rem;
  background: #5677fc;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  text-decoration: none;
  text-align: center;
}
/* line 1573, ../sass/styles.scss */
.button--round i {
  font-size: 1rem;
  line-height: 220%;
  vertical-align: middle;
}
/* line 1579, ../sass/styles.scss */
.button--round:hover {
  background: #3b50ce;
}

/* line 1584, ../sass/styles.scss */
.button--sticky {
  position: fixed;
  right: 2rem;
  top: 16rem;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
