@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://fonts.googleapis.com/css?family=Roboto:300";
/* line 12, ../sass/styles.scss */
body {
  /* Rectangle: */
  font-family: "Roboto", 'sans-serif';
  background-image: linear-gradient(-180deg, #eeeeee 0%, #d8d8d8 100%);
  padding: 5px 10px;
}

/* line 20, ../sass/styles.scss */
section {
  width: 620px;
}
@media (max-width: 360px) {
  /* line 20, ../sass/styles.scss */
  section {
    width: 100%;
  }
}

/* line 27, ../sass/styles.scss */
.input {
  margin-right: 10px;
}

/* line 32, ../sass/styles.scss */
.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-grid-row-align: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 70, ../sass/styles.scss */
.btn-primary {
  background-color: #00CE5D;
}

/* line 73, ../sass/styles.scss */
.btn-warning {
  background-color: #f4511e;
}

/* line 77, ../sass/styles.scss */
.btn-redondo {
  z-index: 20;
  line-height: 56px;
  min-width: 0;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-transition-property: background-color,box-shadow,-webkit-transform;
  transition-property: background-color,box-shadow,-webkit-transform;
  transition-property: background-color,box-shadow,transform;
  transition-property: background-color,box-shadow,transform,-webkit-transform;
}

/* line 96, ../sass/styles.scss */
form {
  font-family: "Roboto", 'sans-serif';
  margin-top: 10px;
  margin-bottom: 10px;
  background: #293333;
  border-radius: 5px;
  min-height: 200px;
  color: white;
  width: 500px;
  padding: 10px;
  /* Rectangle 3 Copy 29: */
}
/* line 108, ../sass/styles.scss */
form h3 {
  font-family: "Roboto", 'sans-serif';
  padding: 0px;
  color: white;
  font-weight: lighter;
}
@media (max-width: 360px) {
  /* line 96, ../sass/styles.scss */
  form {
    width: 100%;
    padding: 0 !important;
  }
}

/* line 124, ../sass/styles.scss */
.lbl {
  font-family: "Roboto", 'sans-serif';
  position: relative;
  display: block;
  height: 10px;
  width: 35px;
  margin: 10px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all .3s ease;
}
/* line 135, ../sass/styles.scss */
.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all .3s ease;
}
/* line 147, ../sass/styles.scss */
.lbl:after:active, .lbl:after:after {
  transform: scale(1.15, 0.85);
}

/* line 154, ../sass/styles.scss */
.cbx:checked ~ label {
  background: forestgreen;
}
/* line 156, ../sass/styles.scss */
.cbx:checked ~ label:after {
  left: 20px;
  background: #00CE5D;
}
/* line 159, ../sass/styles.scss */
.cbx:checked ~ label:after .cbx:disabled ~ label {
  background: #D5D5D5;
  pointer-events: none;
}
/* line 162, ../sass/styles.scss */
.cbx:checked ~ label:after .cbx:disabled ~ label:after {
  background: #BCBDBC;
}

/* line 169, ../sass/styles.scss */
.cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 175, ../sass/styles.scss */
.press {
  margin-bottom: 40px;
}

/* line 179, ../sass/styles.scss */
.hidden {
  display: none;
}

/* line 194, ../sass/styles.scss */
label {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border-radius: 50%;
  background: #FF373D;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-out;
  cursor: pointer;
}

/* line 208, ../sass/styles.scss */
.inner {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  transform: scale(0.6);
  transition: all 200ms ease-out 100ms;
}

/* line 218, ../sass/styles.scss */
.icon {
  display: block;
  width: 20px;
  height: 3px;
}

/* line 225, ../sass/styles.scss */
.icon:before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  transform: rotate(45deg);
  border-radius: 3px;
  transition: all 200ms ease-out;
}

/* line 238, ../sass/styles.scss */
.icon:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  transform: rotate(-45deg);
  border-radius: 3px;
  transition: all 200ms ease-out;
}

/* line 254, ../sass/styles.scss */
input.effect-one:checked + label .icon:after {
  right: -5px;
}

/* line 258, ../sass/styles.scss */
input.effect-one:checked + label .icon:before {
  width: 11px;
  top: 4px;
}

/* line 265, ../sass/styles.scss */
input.effect-two:checked + label .icon:after {
  width: 11px;
  top: 4px;
  right: 9px;
  transform: rotate(45deg);
}

/* line 272, ../sass/styles.scss */
input.effect-two:checked + label .icon:before {
  transform: rotate(-45deg);
  right: -5px;
}

/* line 279, ../sass/styles.scss */
input:checked + label .inner {
  background: #00CE5D;
  transform: scale(1);
}

/* line 288, ../sass/styles.scss */
h1 {
  margin-bottom: 20px;
  color: #293333;
  font-family: "Roboto", 'sans-serif';
  font-weight: bolder;
  font-size: 24px;
  margin-top: 30px;
}

/* line 297, ../sass/styles.scss */
small {
  display: block;
  font-size: 60%;
  margin-top: 5px;
  color: #8c8c8c;
}

/* line 304, ../sass/styles.scss */
.spacer {
  margin: 0 10px;
}

/* line 308, ../sass/styles.scss */
.align-middle, .inner, .icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

/* line 319, ../sass/styles.scss */
h2 {
  font-family: "Roboto", 'sans-serif';
  /* Rectangle 3 Copy 31: */
  background: #79996D;
  border-radius: 5px;
  padding: 10px;
}

/* ==========  Select Field Variables ========== */
/* ==========  Select Field ========== */
/* Style Select Field */
/* line 342, ../sass/styles.scss */
select {
  font-family: "Roboto", 'sans-serif';
  font-weight: bold;
  width: 232px;
  padding: 4px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
  height: 39px;
  /* Rectangle 2 Copy 3: */
  background: #D8D8D8;
  border: 1px solid #979797;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

/* Remove focus */
/* line 359, ../sass/styles.scss */
select:focus {
  outline: none;
}

/* Hide label */
/* line 363, ../sass/styles.scss */
.mdl-selectfield label {
  display: none;
}

/* Use custom arrow */
/* line 365, ../sass/styles.scss */
.mdl-selectfield select {
  appearance: none;
}

/* line 366, ../sass/styles.scss */
.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
  margin-right: 10px;
}
/* line 370, ../sass/styles.scss */
.mdl-selectfield:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid rgba(0,0,0, 0.12);
  pointer-events: none;
}

/* line 391, ../sass/styles.scss */
a {
  color: black;
}

/* line 395, ../sass/styles.scss */
.botones, input, textarea {
  color: black;
  outline: none;
  font-family: "Roboto", 'sans-serif';
  /* Rectangle 2 Copy 5: */
  background: #D8D8D8;
  border: 1px solid #979797;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 210px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 10px;
}

/* line 413, ../sass/styles.scss */
textarea {
  width: 93%;
  margin-top: 10px;
  min-height: 70px;
  padding-top: 10px;
}

/* line 420, ../sass/styles.scss */
::-webkit-input-placeholder {
  /* Usuario: */
  font-family: "Roboto", 'sans-serif';
  font-size: 15px;
  color: black;
  opacity: .5;
}

/* line 430, ../sass/styles.scss */
.botones:focus, input:focus, textarea:focus {
  background-color: #536363;
  color: white;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* line 441, ../sass/styles.scss */
table {
  border-spacing: 1px;
  font-family: "Roboto", 'sans-serif';
  text-align: center;
  width: 100%;
}
/* line 447, ../sass/styles.scss */
table th {
  border-style: none;
  font-size: 12px;
  padding: 5px;
  background-color: #293333;
  color: white;
  font-weight: bold;
  max-width: 160px;
}
/* line 457, ../sass/styles.scss */
table td {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #79996D;
  color: white;
  font-weight: lighter;
  max-width: 160px;
}
@media (min-width: 361px) {
  /* line 441, ../sass/styles.scss */
  table {
    min-width: 650px;
  }
  /* line 472, ../sass/styles.scss */
  table th {
    font-size: 16px;
  }
  /* line 475, ../sass/styles.scss */
  table td {
    font-size: 14px;
  }
}

/* line 483, ../sass/styles.scss */
table td:hover {
  background-color: #536363;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* line 492, ../sass/styles.scss */
.table-td {
  /* Rectangle 3 Copy 28: */
  background: #536363;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 503, ../sass/styles.scss */
.paginacion-primera, .paginacion-sig, .paginacion-ultima, .paginacion-ant {
  width: 26px;
  height: 24px;
  border-style: none;
  background: url("../images/paginacion-primera.svg") no-repeat scroll 0 0 transparent;
}

/* line 510, ../sass/styles.scss */
.paginacion-sig {
  background: url("../images/paginacion-sig.svg") no-repeat scroll 0 0 transparent;
}

/* line 515, ../sass/styles.scss */
.paginacion-ultima {
  background: url("../images/paginacion-ultima.svg") no-repeat scroll 0 0 transparent;
}

/* line 520, ../sass/styles.scss */
.paginacion-ant {
  background: url("../images/paginacion-ant.svg") no-repeat scroll 0 0 transparent;
}

/* line 526, ../sass/styles.scss */
h3 {
  font-family: "Roboto", 'sans-serif';
}

/* line 532, ../sass/styles.scss */
.boton-agregar, .boton-cancelar, .boton-ok, .boton-eliminar {
  position: relative;
  height: 32px;
  width: 32px;
  flex: 0 0 56px;
  display: inline-block;
  padding: 0;
  margin: 4px;
  border: 0;
  border-radius: 100%;
  overflow: hidden;
  font-size: 16px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 551, ../sass/styles.scss */
.boton-cancelar {
  background-color: #ED7161 !important;
}

/* line 556, ../sass/styles.scss */
.boton-agregar {
  background-color: #293333;
}

/* line 561, ../sass/styles.scss */
.boton-ok {
  background-color: #00CE5D;
}

/* line 566, ../sass/styles.scss */
.boton-eliminar {
  background-color: sandybrown;
}

/* line 572, ../sass/styles.scss */
.fa {
  color: white;
}

/* line 576, ../sass/styles.scss */
.boton-agregar:hover, .boton-cancelar:hover, .boton-ok:hover, .boton-eliminar:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer !important;
  background-color: #79996D !important;
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari */
  transform: scale(1.2, 1.2);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 590, ../sass/styles.scss */
.mv-col {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
@media (max-width: 360px) {
  /* line 590, ../sass/styles.scss */
  .mv-col {
    flex-direction: column;
  }
}

/* line 598, ../sass/styles.scss */
.primary {
  background-color: #00CE5D;
}

/* line 601, ../sass/styles.scss */
.form-footer {
  background-color: #79996D;
  width: 451px;
}

/* line 605, ../sass/styles.scss */
.terciary {
  background-color: darkviolet;
}

/* line 608, ../sass/styles.scss */
.input-paginacion, .input-paginacion2 {
  width: 50px;
  text-align: center;
  margin: 5px;
  height: 20px;
}

/* line 615, ../sass/styles.scss */
.input-paginacion2 {
  height: 20px !important;
}

/* line 619, ../sass/styles.scss */
.panel-primary {
  border-color: #79996D;
}

/* line 622, ../sass/styles.scss */
.panel {
  margin-bottom: 20px;
  border: 1px solid #79996D;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 500px;
}
@media (max-width: 360px) {
  /* line 622, ../sass/styles.scss */
  .panel {
    width: 100%;
  }
}

/* line 633, ../sass/styles.scss */
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #79996D;
  border-color: #79996D;
}

/* line 638, ../sass/styles.scss */
.panel-group .panel-heading {
  border-bottom: 0;
}

/* line 641, ../sass/styles.scss */
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 647, ../sass/styles.scss */
.panel-body {
  padding: 15px;
  min-height: 100px;
  max-height: 230px;
  overflow-y: auto;
}

/* line 654, ../sass/styles.scss */
.buscador {
  background: url(images/lupa.svg) no-repeat scroll 0px 0px;
  padding-left: 40px;
}

/* line 660, ../sass/styles.scss */
.titulo-imagen {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

/* line 666, ../sass/styles.scss */
.input-foto {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
}

/* line 674, ../sass/styles.scss */
.foto {
  text-align: center;
  max-width: 85px;
}

/* line 678, ../sass/styles.scss */
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
/* line 687, ../sass/styles.scss */
.wrapper .file-upload {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #FFFFFF;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #79996d 50%, #ffffff 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFFFFF;
  font-size: 12px;
}
/* line 706, ../sass/styles.scss */
.wrapper .file-upload input[type='file'] {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
/* line 717, ../sass/styles.scss */
.wrapper .file-upload:hover {
  background-position: 0 -100%;
  color: #79996D;
}

/* line 728, ../sass/styles.scss */
.error-input {
  background: #fff url("http://www.wallplayer.tv/images/wallplayer_en/icon_error_white.gif") no-repeat 97% center;
  border-color: red;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 10px rgba(255, 0, 0, 0.2);
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}
@-o-keyframes shake {
  0%, 100% {
    -o-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
